@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Cherokee&display=swap');

body {
    font-family: 'Noto Sans Cherokee', Arial, sans-serif;
}

/* General Styles */
body {
    font-family: Noto Sans Cherokee, arial;
 	background-image: url("bg.png");
    margin: 0;
    padding: 0;
    margin-top:60px; 
    background-color: #2F6695; /* Light blue background */
    color: #333;
}

/* Slide menu */

.header {
    background-color: #0073e6;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    top: 0px;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #2F6695 0%, #0e2438 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 20px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* Modal Styles */
        .modal {
            display: none; /* Hidden by default */
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        }

        .modal-content {
            background-color: #fff;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
        }

        /* Button to trigger modal */
        #creditsButton {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        #creditsButton:hover {
            background-color: #45a049;
        }

/* Original CSS*/

.logo img {
    height: 50px;
    margin-left:20px;
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allow nav to grow and take available space */
    justify-content: center; /* Center the nav links */
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon svg {
    fill: #fff;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the links horizontally */
}

.nav-links li {
    margin: 0 15px; /* Adjust spacing between links */
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #2F6695;
}

#searchInput {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #2F6695;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #005bb5;
}

#results {
    margin-top: 20px;
}

.result-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.audio-player {
    margin-top: 10px;
}

/* Sidebar */

.favourites-sidebar {
    position: fixed;
    top: 0px;
    right: -300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    padding: 20px;
    padding-top: 40px;
    z-index: 1000;
}

.favourites-sidebar h2 {
    margin-top: 10;
    color: #2F6695;
}

#favouritesList {
    list-style: none;
    padding: 0;
}

#favouritesList li {
    margin-bottom: 10px;
}

#favouritesList li a {
    color: #2F6695;
    text-decoration: none;
    font-size: 16px;
}

#favouritesList li a:hover {
    text-decoration: underline;
}

#closeFavouritesButton {
    position: absolute;
    top: 0px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #2F6695;
}

#closeFavouritesButton:hover {
    color: #005bb5;
}

#clearFavouritesButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#clearFavouritesButton:hover {
    background-color: #cc0000;
}

.history-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    padding: 20px;
    padding-top: 40px;
    z-index: 1000;
}

.history-sidebar h2 {
    margin-top: 10;
    color: #2F6695;
}

#historyList {
    list-style: none;
    padding: 0;
}

#historyList li {
    margin-bottom: 10px;
}

#historyList li a {
    color: #2F6695;
    text-decoration: none;
    font-size: 16px;
}

#historyList li a:hover {
    text-decoration: underline;
}

#closeHistoryButton {
    position: absolute;
    top: 0px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #2F6695;
}

#closeHistoryButton:hover {
    color: #005bb5;
}

#clearHistoryButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#clearHistoryButton:hover {
    background-color: #cc0000;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
   		text-align: right;
    }

    .nav-links {
        position: fixed;
        top: 60px;
        right: -100%;
        height: 100vh;
        width: 100%;
        background-color: #2F6695;
        flex-direction: column;
        align-items: center;
        transition: right 0.3s ease;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        margin: 20px 0;
    }
    
    .action-buttons {
    margin-top: 10px;
}

.action-buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #005bb5;
}
/* Basic styling for the recording module */
        #recording-module {
            margin-top: 20px;
        }
        #record-button, #stop-button, #save-button {
            padding: 10px 20px;
            margin: 5px;
            border: none;
            cursor: pointer;
        }
        #record-button { background-color: green; color: white; }
        #stop-button { background-color: red; color: white; }
        #save-button { background-color: blue; color: white; }
        #audio-player {
            margin-top: 10px;
        }
        #waveform {
            width: 100%;
            height: 100px;
            border: 1px solid #ccc;
            margin-top: 10px;
        }
        #recording-meter {
            width: 100%;
            height: 20px;
            border: 1px solid #ccc;
            margin-top: 10px;
            background-color: #eee; /* Light gray background */
        }
        #meter-level {
            height: 100%;
            width: 0%; /* Initial width */
            background-color: green; /* Green for recording level */
        }
}

        /* Basic styling for the recording module */
        #recording-module {
            margin-top: 20px;
        }
        #record-button, #stop-button, #save-button {
            padding: 10px 20px;
            margin: 5px;
            border: none;
            cursor: pointer;
        }
        #record-button { background-color: green; color: white; }
        #stop-button { background-color: red; color: white; }
        #save-button { background-color: blue; color: white; }
        #audio-player {
            margin-top: 10px;
        }
        #waveform {
            width: 100%;
            height: 100px;
            border: 1px solid #ccc;
            margin-top: 10px;
        }
        #recording-meter {
            width: 100%;
            height: 20px;
            border: 1px solid #ccc;
            margin-top: 10px;
            background-color: #eee; /* Light gray background */
        }
        #meter-level {
            height: 100%;
            width: 0%; /* Initial width */
            background-color: green; /* Green for recording level */
        }
        
/* Footer */

.site-footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
  margin-left: 50px;
    margin-right: 50px;
}
.footer-links li
{
  display:block
  margin-left: 50px;
    margin-right: 50px;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text {
    margin: 0;
    font-size: 14px;

}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* Dropdown Button */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 0px 0px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 10px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Forms */

.form-control {
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 0; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000; }

.btn, .form-control {
  height: 55px; }

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }